#!/bin/bash
{% if routes.policyBasedRouting is defined and routes.policyBasedRouting %}
{%  for policy in routes.policyBasedRouting %}
{%   if policy.nextHopIp is defined and policy['nextHopIp'] is not none and policy['nextHopIp']|ipaddr %}
ip route flush table "t{{ loop.index + 1000 }}"
ip route add default via {{ policy['nextHopIp'] }} table "t{{ loop.index + 1000 }}"
ip rule delete pri {{ loop.index + 1000 }}
ip rule add pri {{ loop.index + 1000 }} fwmark {{ loop.index + 1000 }} table "t{{ loop.index + 1000 }}"
{%   endif %}
{%  endfor %}
{% endif %}
