v: 2

# (required) The certificates, ca chains, and private key used to represent this routers identity
#
# If the 'edge" section is enabled and enrollment is run, the files in this section will be written to with the results.
# The "key" value can be provided through any of the support private key engines (file, etc.).
#
# If the 'key' value is a file and that file exists; it is expected to a pre-generated private key. It will be used for
# the  enrollment process and it will back the certificates generated during enrollment. If the file does not exist, it
# will be generated.
#
# The 'cert', 'server_cert', and 'ca' files will be overwritten with the results of the enrollment process.
#
# When running the ziti-router the files/values in this section will be read and used. The 'cert' value will be used
# as the client certificate to connect to the controller. The 'server_cert' is used for all servers/listeners. The
# 'ca' value is used to populate an internally Trusted CA pool.
identity:
  cert:        "/opt/netfoundry/ziti/ziti-router/cache/internal.cert"
  server_cert: "/opt/netfoundry/ziti/ziti-router/cache/tls.ingress.cert"
  key:         "/opt/netfoundry/ziti/ziti-router/cache/internal.key"
  ca:          "/opt/netfoundry/ziti/ziti-router/cache/tls.ingress.ca.cert"

#trace:
# path:        001.trace

#profile:
#  memory:
#    path:     001.memprof
#  cpu:
#    path:     001.cpuprof

ctrl:
  endpoint:    tls:{{ network_controller_ipv4 }}:{{ ziti_fabric_controller_port }}

# By having an 'edge' section defined, the ziti-router will attempt to parse the edge configuration. Removing this
# section, commenting out, or altering the name of the section will cause the router to no longer operate as an Edge
# Router.
edge:
  # (required) Information used to generate the initial registration CSR. For documentation on these fields please
  # refer to the openssl documentation. These values MUST be supplied and have no defaults.
  csr:
    country: US
    province: NC
    locality: Charlotte
    organization: NetFoundry
    organizationalUnit: Ziti

    # (required) SANs that this Gateways certs should contain. At least one IP or DNS SAN should be defined that matches
    # the edge listeners "advertise" value from the "listeners" section.
    sans:
      dns:
        - "localhost"
        - "{{ reverse_fqdn }}"
        - "{{ ansible_fqdn }}"

      email:
        - "admin@example.com"
      ip:
        - "127.0.0.1"
        - "{{ public_ipv4 }}"
      uri:
        - "ziti://{{ public_ipv4 }}"

  # (optional) Configuration specific to the controller's API that is proxied through this process. If not defined
  # the API Proxy will not run.
  apiProxy:
    # (required) The interface and port that the Edge API should be served on.
    listener: "0.0.0.0:{{ ziti_router_api_proxy_port }}"
    # (required) The hostname and port combination to the ziti-controller hosted Edge API
    upstream: {{ network_controller_ipv4 }}:{{ ziti_edge_controller_port }}

#dialers:
#  - binding: udp
#  - binding: transport

listeners:
  - binding: edge
    address: tls:0.0.0.0:{{ ziti_router_ingress_port }}
    options:
      # (required) The public hostname and port combination that Ziti SDKs should connect on. Previously this was in the chanIngress section.
      advertise: "{{ reverse_fqdn }}:{{ ziti_router_ingress_port }}"
#  - binding: transport
#    address: tls:0.0.0.0:{{ ziti_router_transport_port }}