# {{ ansible_managed }}

conn {{ conn.name }}
  # Connection Settings
{% for option in [
       'auto', 'closeaction', 'type', 'authby', 'ike', 'aggressive',
       'fragmentation', 'ah', 'esp', 'compress', 'ikelifetime',
       'ikelife', 'keyexchange', 'keytime', 'lifetime', 'lifebytes', 'margintime',
       'rekeymargin', 'rekeyfuzz', 'keyingtries', 'dpdaction', 'dpddelay', 'mask',
       'reauth', 'rekey', 'dpdaction', 'dpdtimeout', 'eap_identity' ] %}
{%   if conn.conn[option] is defined %}
  {{ option }}={{ conn.conn[option] }}
{%   endif %}
{% endfor %}
  # Local Settings
{%   if conn.left is defined and conn.left.address is defined %}
  left={{ conn.left.address }}
{%   endif %}
{% for option in [
       'ikeport', 'protoport', 'subnet', 'sourceip', 'allowany', 'id',
       'auth', 'ca', 'cert', 'sendcert', 'dns', 'updown', 'hostaccess' ] %}
{%   if conn.left is defined and conn.left[option] is defined %}
  left{{ option }}={{ conn.left[option] }}
{%   endif %}
{% endfor %}
  # Remote Settings
{%   if conn.right is defined and conn.right.address is defined %}
  right={{ conn.right.address }}
{%   endif %}
{% for option in [
       'ikeport', 'protoport', 'subnet', 'sourceip', 'allowany', 'id',
       'auth', 'ca', 'cert', 'sendcert', 'dns', 'updown', 'hostaccess' ] %}
{%   if conn.right is defined and conn.right[option] is defined %}
  right{{ option }}={{ conn.right[option] }}
{%   endif %}
{% endfor %}
{%   if conn.mark is defined %}
  mark={{ conn.mark }}
{%   endif %}
