#!/bin/bash

ip link delete vti1
ip link delete vti2

ip link add vti1 type vti remote "{{ avw.vpnSiteConnections[0].gatewayConfiguration.IpAddresses.Instance0 }}" key 1
ip link set vti1 up
ip r add "{{ avw.vpnSiteConnections[0].gatewayConfiguration.BgpSetting.BgpPeeringAddresses.Instance0 }}" nexthop  dev vti1

ip link add vti2 type vti remote "{{ avw.vpnSiteConnections[0].gatewayConfiguration.IpAddresses.Instance1 }}" key 2
ip link set vti2 up
ip r add "{{ avw.vpnSiteConnections[0].gatewayConfiguration.BgpSetting.BgpPeeringAddresses.Instance1 }}" nexthop  dev vti2
