{{ ansible_managed|comment }}

hostname {{ ansible_hostname }}
password {{ frr_password }}
log {{ frr_logging }}
!
{% if frr_daemons['bgpd'] %}
{%  if bgp and bgp['localPeerIP'] is not none %}
interface lo
  description "BGP Local Source Peer Address"
  ip address {{ bgp['localPeerIP'] }}/32
{%   endif %}
!
{%   if bgp and bgp['localAsn'] is defined %}
router bgp {{ bgp['localAsn'] }}
{%       if bgp['routerId'] %}
  bgp router-id {{ bgp['routerId'] }}
{%       endif %}
{%       if bgp['logNeighborChanges']|default(False) %}
  bgp log-neighbor-changes
{%       endif %}
{%       if bgp['gracefulRestart']|default(False) %}
  bgp graceful-restart
{%       endif %}
{%       if bgp['ecmp'] is defined %}
  maximum-paths {{ bgp['ecmp'] }}
  maximum-paths ibgp {{ bgp['ecmp'] }}
{%       endif %}
{%       if bgp['keepaliveTimer']|default(False) %}
  timers bgp {{ bgp['keepaliveTimer'] }} {{ bgp['keepaliveTimer'] * 3 }}
{%       endif %}
{%       if bgp['neighborPeers']|default(False) %}
{%         for neighbor in bgp['neighborPeers'] %}
{%             if neighbor['peerGroup']|default(False) %}
{%               if neighbor['asn'] %}
  neighbor {{ neighbor['peerGroup'] }} peer-group
  neighbor {{ neighbor['ipAddress'] }} peer-group {{ neighbor['peerGroup'] }}
{%               else %}
  neighbor {{ neighbor['ipAddress'] }} peer-group {{ neighbor['peerGroup'] }}
{%               endif %}
{%             endif %}
{%             if neighbor['asn'] is defined and (neighbor['peerGroup'] is not defined or neighbor['peerGroup'] is none) %}
  neighbor {{ neighbor['ipAddress']}} remote-as {{ neighbor['asn'] }}
{%             endif %}
{%             if neighbor['asn'] is defined and (neighbor['peerGroup'] is defined and neighbor['peerGroup'] is not none) %}
  neighbor {{ neighbor['peerGroup']}} remote-as {{ neighbor['asn'] }}
{%             endif %}
{%             if neighbor['password']|default(False) and (neighbor['peerGroup'] is not defined or neighbor['peerGroup'] is none) %}
  neighbor {{ neighbor['ipAddress'] }} password {{ neighbor['password'] }}
{%             endif %}
{%             if neighbor['password']|default(False) and (neighbor['peerGroup'] is defined and neighbor['peerGroup'] is not none) %}
  neighbor {{ neighbor['peerGroup'] }} password {{ neighbor['password'] }}
{%             endif %}
{%             if neighbor['multihopCount']|default(False) and (neighbor['peerGroup'] is not defined or neighbor['peerGroup'] is none) %}
  neighbor {{ neighbor['ipAddress'] }} ebgp-multihop {{ neighbor['multihopCount'] }}
{%             endif %}
{%             if neighbor['multihopCount']|default(False) and (neighbor['peerGroup'] is defined and neighbor['peerGroup'] is not none) %}
  neighbor {{ neighbor['peerGroup'] }} ebgp-multihop {{ neighbor['multihopCount'] }}
{%             endif %}
{%             if neighbor['keepaliveTimer']|default(False) and (neighbor['peerGroup'] is not defined or neighbor['peerGroup'] is none) %}
  neighbor {{ neighbor['ipAddress'] }} timers {{ neighbor['keepaliveTimer'] }} {{ neighbor['keepaliveTimer'] * 3 }}
{%             endif %}
{%             if neighbor['keepaliveTimer']|default(False) and (neighbor['peerGroup'] is defined and neighbor['peerGroup'] is not none) %}
  neighbor {{ neighbor['peerGroup'] }} timers {{ neighbor['keepaliveTimer'] }} {{ neighbor['keepaliveTimer'] * 3 }}
{%             endif %}
{%             if neighbor['description']|default(False) and (neighbor['peerGroup'] is not defined or neighbor['peerGroup'] is none) %}
  neighbor {{ neighbor['ipAddress'] }} description {{ neighbor['description'] }}
{%             endif %}
{%             if neighbor['description']|default(False) and (neighbor['peerGroup'] is defined and neighbor['peerGroup'] is not none) %}
  neighbor {{ neighbor['peerGroup'] }} description {{ neighbor['description'] }}
{%             endif %}
{%             if bgp['localPeerIP'] is defined and (neighbor['localPeerIP'] is not defined or neighbor['localPeerIP'] is none) and (neighbor['peerGroup'] is not defined or neighbor['peerGroup'] is none) %}
  neighbor {{ neighbor['ipAddress'] }} update-source {{ bgp['localPeerIP'] }}
{%             endif %}
{%             if bgp['localPeerIP'] is defined and (neighbor['localPeerIP'] is not defined or neighbor['localPeerIP'] is none) and (neighbor['peerGroup'] is defined and neighbor['peerGroup'] is not none and neighbor['asn']) %}
  neighbor {{ neighbor['peerGroup'] }} update-source {{ bgp['localPeerIP'] }}
{%             endif %}
{%             if neighbor['localPeerIP'] is defined and (neighbor['peerGroup'] is not defined or neighbor['peerGroup'] is none) %}
  neighbor {{ neighbor['ipAddress'] }} update-source {{ neighbor['localPeerIP'] }}
{%             endif %}
{%             if neighbor['localPeerIP'] is defined and (neighbor['peerGroup'] is defined and neighbor['peerGroup'] is not none and neighbor['asn']) %}
  neighbor {{ neighbor['peerGroup'] }} update-source {{ neighbor['localPeerIP'] }}
{%             endif %}
{%             if neighbor['nexthopSelf']|default(False) and (neighbor['peerGroup'] is not defined or neighbor['peerGroup'] is none) %}
  neighbor {{ neighbor['ipAddress'] }} next-hop-self
{%             endif %}
{%             if neighbor['nexthopSelf']|default(False) and (neighbor['peerGroup'] is defined and neighbor['peerGroup'] is not none) %}
  neighbor {{ neighbor['peerGroup'] }} next-hop-self
{%             endif %}
{%             if neighbor['softReconfiguration']|default(False) and (neighbor['peerGroup'] is not defined or neighbor['peerGroup'] is none) %}
  neighbor {{ neighbor['ipAddress'] }} soft-reconfiguration inbound
{%             endif %}
{%             if neighbor['softReconfiguration']|default(False) and (neighbor['peerGroup'] is defined and neighbor['peerGroup'] is not none) %}
  neighbor {{ neighbor['peerGroup'] }} soft-reconfiguration inbound
{%             endif %}
{%         endfor %}
{%       endif %}
{%       if bgp.routeMaps is defined %}
{%         for routeMap in bgp.routeMaps %}
{%           if routeMap['direction'] == "both" %}
  neighbor {{ routeMap['neighborPeer'] }} route-map rt_{{ routeMap['neighborPeer'] }} in
  neighbor {{ routeMap['neighborPeer'] }} route-map rt_{{ routeMap['neighborPeer'] }} out
{%           endif %}
{%           if routeMap['direction'] == "in" or routeMap['direction'] == "out" %}
  neighbor {{ routeMap['neighborPeer'] }} route-map rt_{{ routeMap['neighborPeer'] }} {{ routeMap['direction'] }}
{%           endif %}
{%         endfor %}
{%       endif %}
{%       if bgp['advertisedPrefixesCheckDisable']|default(False) %}
  no bgp network import-check
{%       endif %}
{%       if bgp['advertisedPrefixes'] is defined %}
  address-family ipv4 unicast
{%         for _network in bgp['advertisedPrefixes'] %}
{%            if _network | length %}
    network {{ _network }}
{%            endif %}
{%         endfor %}
{%       endif %}
{%       if bgp['redistributeType'] is defined %}
{%         if bgp['advertisedPrefixes'] is not defined %}
!
  address-family ipv4 unicast
{%         endif %}
{%         for _type in bgp['redistributeType'] %}
    redistribute {{ _type }}
{%         endfor %}
{%       endif %}
{%       if bgp['advertisedPrefixes'] is defined or bgp['redistributeType'] is defined %}
  exit-address-family
{%       endif %}
{%       if bgp['routeMaps']|default(False) %}
{%         for routeMap in bgp['routeMaps'] %}
route-map  rt_{{ routeMap['neighborPeer'] }} permit 10
{%           if routeMap['localPref'] %}
  set local-preference {{ routeMap['localPref'] }}
{%           endif %}
{%           if routeMap['metric'] %}
  set metric {{ routeMap['metric'] }}
{%           endif %}
{%         endfor %}
{%       endif %}
{%   endif %}
{%  endif %}
!
